PORT=YOUR_PORT
CLIENT_URL=YOUR_FRONTEND_URL
MONGO_URI=YOUR_MONGO_URI
JWT_SECRET=YOUR_JWT_SECRET_KEY
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=YOUR_GOOGLE_CALLBACK_URL

